<%= form_for(@association) do |f| %>
  <% if @association.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@association.errors.count, "error") %> prohibited this association from being saved:</h2>

      <ul>
      <% @association.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </div>
  <div class="field">
    <%= f.label :president_id %><br />
    <%= f.number_field :president_id %>
  </div>
  <div class="field">
    <%= f.label :descriptif %><br />
    <%= f.text_field :descriptif %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
