<p id="notice"><%= notice %></p>

<p>
  <b>Nom:</b>
  <%= @association.nom %>
</p>

<p>
  <b>President:</b>
  <%= @association.president_id %>
</p>

<p>
  <b>Descriptif:</b>
  <%= @association.descriptif %>
</p>


<%= link_to 'Edit', edit_association_path(@association) %> |
<%= link_to 'Back', associations_path %>
